.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 2px solid dimgrey;
    transition: 0.5s;

    background: linear-gradient(355deg, rgba(255,241,215,1) 5%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);




}

.thumbnail:hover {
    -webkit-box-shadow: 0px 0px 27px 16px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 27px 16px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 27px 16px rgba(0,0,0,0.7);
}

.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.cartlink
{
    text-decoration: none;
    color: black;

}
.cartlink:hover
{
    color: black;
}

/*for prettify look*/
body {

}

.parallax {
    perspective: 1.01px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax__layer--base {
    transform: translateZ(0);
    top: 1500px;
    height: 200%;
    z-index: 1;
    margin-bottom: 1500px;
}
.parallax__layer--back {
    top: 1800px;
    transform: translateZ(-1px) scale(2);
    background-image: url("../img/doodles/wood.jpg");
    height: 1200px;
    margin: 0;
    background-repeat: repeat;
    opacity: 1;
    z-index: 0;
}
/*.parallax__layer--back_second {
    top: 1500px;
    transform: translateZ(-1px) scale(2);
    background-image: url("../img/doodles/wood.jpg");
    height: 300px;
    margin: 0;
    background-repeat: repeat;
    color: #9ea300;
    opacity: 1;
    z-index: 0;
}*/

.parallax__layer--deep {
    transform: translateZ(-2px) scale(3);
    z-index: -50;
    text-align: center;
}

.parallax__layer--deepest {
    transform: translateZ(-3px) scale(4);
    z-index: -100;
    height: 105%;
}

/* actual dropdown animation */
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    top: 0;
    padding: 0;
    border: none;
    margin: 0;
    min-width: 0;
}


.dropdown.open .dropdown-menu {
    max-height: 200px;
    opacity: 1;
    position:absolute;
    float:right;
    top: 0;
    left: 250px;

}

.dropdown-toggle::after {
    display: none !important;
}

.btn.btn-primary.dropdown-toggle {
    width: 200px;
}

#login{
    position: fixed !important;
    top: 40px;
    left: 40px;
    z-index: 10000;
}

#logout{
    position: fixed !important;
    top: 40px;
    left: 40px;
    z-index: 10000;


}

#showAllButton {
    width: 200px;
}

#products {
    border-top: 4px solid rgba(120, 118, 122, 0.74);
    border-left: 4px solid rgba(120, 118, 122, 0.74);
    border-right: 4px solid rgba(120, 118, 122, 0.74);
    border-bottom: 4px solid rgba(120, 118, 122, 0.74);
    background-color: rgba(255, 255, 255, 0.5);

}

.handWritted {
    /*font-family: 'Tangerine', serif;*/
    font-size: 100px !important;
    position: absolute;
    top: 330px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 400px;
    height: auto;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: 4px 4px 4px #aaa;
}
.handWrittedBottom {
    /*font-family: 'Tangerine', serif;*/
    font-size: 100px !important;
    position: absolute;
    top: 1330px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 400px;
    height: auto;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: 4px 4px 4px #aaa;
}

.stripes {
    background:
        linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 74%, #999 78%),
        linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
        #444;
    background-size: 16px 48px;
}

.lines {
    background-color: #a0a29b;
    background-image: url("../img/doodles/brick-wall-dark.png");
    opacity: 1;
    height: 200%;
}

#logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 800px;
    height: auto;
}

#logoBottom {
    position: relative;
    top: 1400px;

    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.group.list-group-image {
    height: 355px;
    width: auto;
}

.panel.panel-default {
    background-color: transparent ;
    border: none;
    text-align: center;
}

#myPopover {
    color: white;
    position: fixed;
    z-index: 4;
    right: 80px;
    top: 60px;

}


.popover {
    position: fixed;
}





.d-inline-block.animated {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#window {
    top: 0px;
    width: 1920px;
    height: 1080px;
    position: fixed;
    z-index: 100;
    pointer-events: none;
}




